html
	head
		title  Talent Dashboard | The Orion Server
		link(rel='stylesheet', href='/stylesheets/styles.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		link(type='text/css', rel='stylesheet', href='/css/jquery.jConveyorTicker.min.css')
	body
		#main-wrapper
			#messages
				#msgw-x
					img(src='/assets/img/whitex.png')
				#sec1 Terrance Henderson - Messages
				#sec2
					#msg-list
						#search-box
							textarea#search-type-box(placeholder='Search A&R...')
						.convo-snap
							div
								img(src='/assets/img/tde.jpg')
							#cs-text
								div
									h1 Terrance Henderson
									.convo-time Tue
								p.msg Perfect, my number is 678-237-9123!
					#convo
						#type-box
							textarea#inner-type-box(placeholder='Send message...')
						div
							.msg-timestamp
								div Tue, 10:07 AM
							.label-msg
								div
									| Hey Drake! We love your music and our interested in connecting with you! If you're interested in us as well, please reply so we can setup a call!
							.artist-msg
								div Hey fam I'm definitely interested.
							.label-msg
								div Perfect, my number is 678-237-9123!
			#top-sec
				#listener-sidebar
					a
						div Home
					a
						#arm A&R Messages
					a
						div Songs Played
					a
						div Settings
					#lower-sidebar
						a
							button#submit Submit
						h5 Watching You
						#watching
							.watching-label
								img(src='/assets/img/columbia.jpeg')
								p Columbia Records
							.watching-label
								img(src='/assets/img/atlantic.jpeg')
								p Atlantic Records
							.watching-label
								img(src='/assets/img/tde.jpg')
								p Top Dawg Entertainment
				#right-sec
					#profile-page
						#pp-r2
							#pp-r2-c1
								#artist-info
									h1#type=talent.talentType
									h3#genre=talent.genre
									h3#location=talent.location
								h1#name=talent.artistName
							#pp-r2-c2
								img#profile-avi(src="/assets/img/avi/"+id+".jpg")
							#pp-r2-c3
								div  
								div(style='padding: 0 0 0 70px')
									span(style='font-family: Lato-Bold; color: #555; margin: 0') Bio
									p(style='margin: 0;')=talent.bio
						a#read-more Read More
						#edit-btn
							img(src='/assets/img/wrench.png')
							p Edit
						a#sign-out(href="/logout") Sign-out
					#announcement-fade
					#announcement
						.js-conveyor-1
							ul
								li
									| Pro Tools Version 12 is now available at a 20% discount for Orion users! Use the link on our deals page to visit.
								li
									| Pro Tools Version 12 is now available at a 20% discount for Orion users! Use the link on our deals page to visit.
								li
									| Pro Tools Version 12 is now available at a 20% discount for Orion users! Use the link on our deals page to visit.
					#track-cover-2
					#track-cover
					#content-page
						h3 Tracks
						#tracks-wrapper
							#tracks
								for track in tracks
									.track
										img(src='/assets/img/play.png')
										p#track-name=track.name
										p#track-time-elapsed=(track.duration-(track.duration%=60))/60+(9<track.duration?':':':0')+track.duration
										#track-star-count
											img(src='/assets/img/star.png')
											p(style='padding: 0')=track.weeklyStars
										p#track-artist-name=talent.artistName
										if track.uploadDate.getFullYear()==2019
											p#track-upload-date #{track.uploadDate.toDateString().substring(4,10)}
										else
											p#track-upload-date #{track.uploadDate.getMonth()+'/'+track.uploadDate.toDateString().substring(8,10)+'/'+track.uploadDate.toDateString().substring(13)}
										img(src='/assets/img/info.png').info
					#notification-box
						#notification-box-title Notifications
						#notifs
							.notif
								.timestamp 8:01PM
								.notif-msg Atlantic Records is now watching you!
							.notif
								.timestamp 9:42AM
								.notif-msg Your new track "Nonstop" was successfully uploaded.
							.notif
								.timestamp Tuesday
								.notif-msg Top Dawg Entertainment sent you a message.
							.notif
								.timestamp Monday
								.notif-msg Your track "Sacrifices" was played by five labels this week.
							.notif
								.timestamp 5.27.19
								.notif-msg Columbia Records is now watching you!
							.notif
								.timestamp 5.05.19
								.notif-msg Top Dawg Entertainment is now watching you!
					#performance-status
						h4 Performance
						#song-statuses
							each track in tracks
								.status
									if track.status=='uploaded'
										.indicator(style='background: #00b315')
										p(style='color: #00b315')=track.name
									if track.status=='played'
										.indicator(style='background: #0089b3')
										p(style='color: #0089b3')=track.name
									if track.status=='starred'
										.indicator(style='background: orange')
										p(style='color: orange')=track.name
					#timeline-legend
						.tl-type
							.indicator(style='background: #00b315')
							p(style='color: #00b315') Uploaded
						.tl-type
							.indicator(style='background: #0089b5')
							p(style='color: #0089b5') Played
						.tl-type
							.indicator(style='background: orange')
							p(style='color: orange') Starred
			#playback-window
				#controls
					img(src='/assets/img/back.png')
					img(src='/assets/img/play.png')
					img(src='/assets/img/next.png')
				#scroller
					#elapsed
						p.time 0:00
					#temp-time
					#total
						p.time 0:00
				#volume
					img(src='/assets/img/volume.png')
		script(src='/js/jquery.jConveyorTicker.min.js')
		script.
			$(function() {
			$('.js-conveyor-1').jConveyorTicker({
			anim_duration:  350,
			});
			});
			dragElement(document.getElementById("messages"));
			function dragElement(elmnt) {
			var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
			if (document.getElementById(elmnt.id + "sec1")) {
			// if present, the header is where you move the DIV from:
			document.getElementById(elmnt.id + "sec1").onmousedown = dragMouseDown;
			} else {
			// otherwise, move the DIV from anywhere inside the DIV:
			elmnt.onmousedown = dragMouseDown;
			}
			function dragMouseDown(e) {
			e = e || window.event;
			e.preventDefault();
			// get the mouse cursor position at startup:
			pos3 = e.clientX;
			pos4 = e.clientY;
			document.onmouseup = closeDragElement;
			// call a function whenever the cursor moves:
			document.onmousemove = elementDrag;
			}
			function elementDrag(e) {
			e = e || window.event;
			e.preventDefault();
			// calculate the new cursor position:
			pos1 = pos3 - e.clientX;
			pos2 = pos4 - e.clientY;
			pos3 = e.clientX;
			pos4 = e.clientY;
			// set the element's new position:
			elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
			elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
			}
			function closeDragElement() {
			// stop moving when mouse button is released:
			document.onmouseup = null;
			document.onmousemove = null;
			}
			}
			$( "#arm" ).click(function() {
			$('#messages').css('display', 'flex');
			});
			$( "#msgw-x" ).click(function() {
			$('#messages').css('display', 'none');
			});
		style.
			.js-conveyor-1 {
			height: 18px;
			padding: 2px 0;
			}
			.jctkr-wrapper ul li {
			font-family: Lato-light;
			margin: 0 20px;
			}